/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700'); */
* { box-sizing: border-box; outline: none; }
:root {
    --theme: #05f;
    --gap: 24px;
    --ico: 48px;
    --vermelho: #C00;
    --amarelo: yellow;
    --verde: #06d85f;
    --font: 'Roboto', sans-serif;
}
body, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--font);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    margin-bottom: var(--theme);
    font-size: 24px;
    font-family: var(--font);
    font-weight: 400;
    line-height: 40px;
}

.grid-1 { display: grid; grid-template-columns: repeat( 1, 1fr); }
.grid-2 { display: grid; grid-template-columns: repeat( 2, 1fr); }
.grid-3 { display: grid; grid-template-columns: repeat( 3, 1fr); grid-gap: 24px; }
.grid-4 { display: grid; grid-template-columns: repeat( 4, 1fr); }
.grid-5 { display: grid; grid-template-columns: repeat( 5, 1fr); }
.grid-6 { display: grid; grid-template-columns: repeat( 6, 1fr); }
.grid-gap     { grid-gap: var(--gap); }
.grid-center  { align-items: center; }
.text-center  { text-align: center; }
.text-right   { text-align: right; }
.text-left    { text-align: left; }
.text-justify { text-align: justify; }
.gap        { padding: var(--gap); }
.gap-top    { margin-top: var(--gap); }
.gap-bottom { margin-bottom: var(--gap); }
.invert { filter: invert(100%) drop-shadow( 1px 1px 0px #0003); }
.ico {
    display: inline-block;
    min-height: var(--ico);
    min-width: var(--ico);
    background-image: url( '../ico/home.png' );
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: 24px;
    margin-right: 4px;
    cursor: pointer;
}
.ico:hover {
    background-color: rgba(255, 255, 255, .1)
}

.ico-quadra     { background-image: url( '../ico/field.png' ); }
.ico-theme      { background-image: url( '../ico/theme.png' ); }
.ico-sistema    { background-image: url( '../ico/website.png' ); }
.ico-user       { background-image: url( '../ico/user.png' ); }
.ico-plus       { background-image: url( '../ico/plus.png' ); background-size: 17px; background-position: center center; width: 30px; height: 30px; }
.ico-plus:hover { background-color: #0000ff; }
.ico-close      { background-image: url( '../ico/x.png' ); }
.ico-pass       { background-image: url( '../ico/key.png' ); }
.ico-mail       { background-image: url( '../ico/mail.png' ); }
.ico-field {
    text-indent: 30px;
    background-size: 16px;
}
.ico-field:invalid {
    border: 1px solid #CCC !important;
}
.descktop { display: block; }
.mobile { display: none; }
.box {
    background: #FFF;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.19);
}
.responsive {
    display: block;
    width: 100%;
    max-width: 100vw;
}
.circle {
    border-radius: 50%;
    overflow: hidden;
}
[hidden] {
    display: none !important;
}
.center { margin: 0 auto; }
.theme { background-color: var(--theme); }
.theme-text { color: var(--theme); }
.white { background-color: #FFF; }
.white-text { color: #FFF; }
.black { background-color: #000; }
.black-text { color: #000; }
.gray { background-color: #757575; }
.gray-text { color: #757575; }
.input-field {
    display: block;
    background-color: #FFF;
    border-radius: 0px;
    padding: 0 12px;
    line-height: 40px;
    min-height: 40px;
    margin-bottom: var(--gap);
    color: #333;
    width: 100%;
    border: 1px solid #FFF;
    border-bottom: 2px solid #CCC;
    font-weight: bold;
}
.input-field:focus {
    border-bottom: 2px solid var(--theme);
    color: #111;
    
}
.input-field:disabled {
    background-color: #CCC;
    filter: opacity(.5);
    cursor: not-allowed;
}
.input-label {
    display: block;
    line-height: 20px;
    color: #999;
    font-size: 12px;
}
.btn {
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid var(--theme);
    color: var(--theme);
    text-transform: uppercase;
    background-color: #DDDD;
    border-radius: 4px;
    cursor: pointer;
    filter: saturate(70%);
    text-decoration: none;
}

.btn:hover {
    filter: saturate(100%);
}
.btn-sucess {
    background: var(--theme);
    color: #FFF;
}
.btn-danger {
    background: #C00;
    color: #FFF;
}
.load {
    display: block;
    filter: opacity(.5);
    animation-name: load;
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-delay: 0s;
}
@keyframes load {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
main section#agenda { display: block; }
main section:target ~ #agenda { display: none; }
main section { 
    display: none; 
    padding-top: 150px !important;
    margin-bottom: 30px;
}
#aside {
    padding-top: 150px !important;
}
main {
    padding: 0 var(--gap);
}
main section:target {
    display: grid;
}
nav div { display: none; }
nav input#menu_quadra:checked ~ .menu_quadra,
nav input#menu_theme:checked ~ .menu_theme,
nav input#menu_sistema:checked ~ .menu_sistema,
nav input#menu_user:checked ~ .menu_user {
    display: block;
}
#header { grid-area: header; }
#nav { grid-area: nav; }
#main { grid-area: main; }
#aside { grid-area: aside; }
#aside h6 {
    font-size: 18px;
}
#aside small {
    font-size: 11px;
 }
body {
    display: grid;
    grid-template-areas: "header header header" "nav nav nav" "aside main main";
    grid-template-columns: 200px 1fr 1fr;
    background-color: #EEE;
}
#header, #nav {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #FFF;
    background-image: linear-gradient(to left, var(--theme) , #0077ff);
}
#header {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#nav {
    /* display: none; */
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}
.link_menu {
    display: inline-block;
    line-height: 30px;
    color: #FFF;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
    padding: 0 12px;
    border-radius: 25px;
    margin: 0 2px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, .2);
    font-family: var(--font);
}
.ativo,
.link_menu:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, .3) !important;
}
.logo {
    display: inline-block;
    height: 48px;
    padding: 7px;
}

.set-domain {
    display: inline-block;
    text-align: center;
    background: none;
    border: none;
    color: #FFF;
    padding: 0 22px;
    font-size: 24px;
    outline: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background: url("/admin/disc/ico/arrow-down.png") 99% / 7% no-repeat ;
    font-family: var(--font);
    border-bottom: 3px solid transparent;
}
.no-admin {
    background-image: none;
}
.set-domain:focus {
    border-bottom: 3px solid var(--amarelo);
}
option {
    display: block;
    color: #000;
    box-shadow: 1px 1px 3px #000;
    font-size: 14px;
    border: none;
    height: 40px;
    line-height: 40px;
    padding: 20px !important;
}

.m-inicial {
    display: none;
}
#m-site:checked ~ .m-site,
#m-rede-social:checked ~ .m-rede-social,
#m-info:checked ~ .m-info,
#m-termo:checked ~ .m-termo,
#m-chat:checked ~ .m-chat,
#m-pagseguro:checked ~ .m-pagseguro{
    display: block;
}
#alerta {
    display: none;
    grid-template-columns: 1fr 40px;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: #FFF;
    padding-left: 16px;
    border-radius: 4px;
    max-width: calc( 100vw - 40px );
}
#show-alerta:checked ~ #alerta { display: inline-grid; }
#alerta img {
    display: block;
    filter: invert(100%);
    height: 40px;
    padding: 15px;
    cursor: pointer;
}
.img-galery {
    border: 7px solid #FFF;
    cursor: pointer;
}
.editor-nav {
    display: block;
}
.editor-nav img {
    display: inline-block;
    cursor: pointer;
    height: 40px;
    padding: 12px;
    filter: opacity(.5);
}
.editor-nav img:hover {
    filter: opacity(.7);
}
.editor-box {
    display: block;
    width: 100%;
    background: #DDD;
    border-radius: 4px;
    padding-bottom: 5px;
}
.editor-local {
    display: block;
    width: calc( 100% - 24px );
    min-height: 250px;
    margin: 5px 12px;
    background-color: #FFF;
    border-radius: 4px;
    padding: 15px;
}
.table {
    border-spacing: 0px;
    counter-reset: #666;
}
.table td, .table th { padding: 12px; }
.table thead,
.table thead tr,
.table thead tr th{
    text-align: left;
    border-bottom: 2px solid #666;
    text-transform: uppercase;
}
.table thead th {
    font-family: var(--font);
    font-weight: 400;
}
.table tbody,
.table tbody tr:nth-child(2n+1){
    background-color: #FFF;
}
.table tbody tr,
.table tbody tr:hover { background: #EEE; }
.table tbody tr td{
    border-bottom: 1px solid #DDD;
}
.ico-table {
    display: inline-block;
    height: 33px;
    padding: 8px;
    cursor: pointer;
    filter: opacity(.5);
}
.ico-table:hover { filter: opacity(.7); }
.search {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 40px 40px;
    border: 1px solid #DDD;
    border-radius: 40px;
    height: 40px;
}
.search input {
    border: none;
    height: 35px;
    line-height: 35px;
    padding: 0 12px;
    border-radius: 40px;
}
.search img {
    display: block;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    filter: opacity(.5);
}
.search img:hover {
    filter: opacity(.7);
}
.legendas { 
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 20px 120px 40px 70px 40px 70px 40px;
    grid-gap: 12px;
    color: #666;
    text-transform: uppercase;
}
.legenda  {
    display: inline-block;
    background: #DDD;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px dashed transparent;
}
.lg-now { background: var(--amarelo); border: 2px dashed #000; }
.lg-livre { background: var(--verde); }
.lg-ocupado { background: var(--vermelho); }
.grid-agenda {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 200px 150px;
    color: #666;
    height: 40px;
    grid-gap: 20px;
}
.grid-agenda img {
    display: inline-block;
    filter: opacity(.5);
    cursor: pointer;
    height: 40px;
    padding: 7px;
}
.grid-elements-agenda {
    display: grid;
    grid-template-columns: 40px 1fr;
    box-align: center;
    line-height: 40px;
    height: 40px;
}
.title {
    display: flex;
    color: #111;
    font-size: 30px;
    text-transform: uppercase

}
.title small {
    display: inline-block;
    background: var(--theme);
    color: #FFF;
    border-radius: 20px;
    height: 30px;
    line-height: 20px;
    font-weight: lighter;
    padding: 7px 18px;
    font-size: 11px;
    margin-left: 20px;
}
.calendario-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 150px repeat( 7, 1fr );
}
.calendario-grid div {
    display: grid;
    border: 1px solid #DDD;
    border-radius: 8px;
    line-height: 40px;
    text-align: center;
    color: #666;
    text-transform: uppercase;
    align-items: center;
}
.agenda-header {
    margin-bottom: 20px;
}
.calendario-grid div.agenda-hoje {
    border: 1px solid var(--theme);
    background: var(--theme);
    color: #FFF;
}
.calendario-grid label {
    display: grid;
    border: 2px solid transparent;
    border-radius: 8px;
    text-align: center;
    padding: 12px 0;
    background-color: #06d85f;
    color: #FFF;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
}
.calendario-grid label:hover {
    filter: saturate(50%);
}
.calendario-grid label i {
    display: block;
}
.calendario-grid label.agenda-ocupado {
    background: var(--vermelho);
}
.calendario-grid label.agenda-jogando {
    background-color: var(--amarelo);
    color: #000;
    border: 2px dashed #000;
}
#pop-agenda-livre:checked ~ .pop-agenda-livre { display: grid; }
#pop-agenda-ocupado:checked ~ .pop-agenda-ocupado { display: grid; }
.pop-agenda-livre,
.pop-agenda-ocupado {
    display: none;
}
.pop-box {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .9);
    width: 100vw;
    height: 100vh;
    align-items: center;
    z-index: 9999;
    color: #666;
}
.pop-box div {
    display: block;
    width: 650px;
    max-width: 90vw;
    background: #FFF;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
}
.pop-close {
    position: absolute;
    cursor: pointer;
    filter: invert(100%);
    top: 22px;
    right: 22px;
}
.cad {
    display: none;
}
#cad-finalizar:checked ~ .cad-finalizar,
#cad-search:checked ~ .cad-search,
#cad-change:checked ~ .cad-change,
#cad-create:checked ~ .cad-create{
    display: block;
}
[for="cad-change"] {
    cursor: pointer !important;
    margin-right: 10px;
}
.login {
    font-family: var(--font);
    position: relative;
    display: flex;
  align-items: center;
  justify-content: center;
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    background-image: url( '../img/soccer.jpg' );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.login__info {
    position: absolute;
    width: 700px;
    max-width: 90vw;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: grid;
    grid-template-columns: 40% 60%;
    background: rgba(255, 255, 255, 1);
}
.login__info img {
    display: block;
    height: 150px;
    margin: 0 auto;
}

.login__info__left {
    position: relative;
    background-color: #0336FF;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 20px;
    color: #fff;
}

.login__info__right {
    text-align: center;
    padding: 20px;
}

.login__info__right input {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border-width: 0 !important;
    border-color: transparent !important;
}

.login__info__right span {
    font-weight: bolder;
    font-size: 24px;
}

.login main {
    display: grid;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
.login main h6 {
    display: block;
    font-size: 28px;
    text-shadow: 1px 1px 0px #000;
}
.login__info__left a {
    display: inline-block;
    color: #000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 26px;
    border: 2px solid var( --amarelo );
    color: var( --amarelo );
    box-shadow: inset 0 0 7px rgba(125, 125, 126, .3);
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

.item-1, 
.item-2, 
.item-3 {
    position: absolute;
    top: 100px;
    display: block;
    width: 70%;
    font-size: 10px;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}
.btn-horario {
    display: inline-block;
    color: #FFF;
    background: var(--theme);
    padding: 7px 23px;
    cursor: pointer;
    filter: saturate(30%);
    border-radius: 5px;

}
#horarios {
    display: grid;
    grid-gap: 30px;
    padding: 30px;
    grid-template-columns: repeat(2, 1fr);
    background: #DDD;
    border-radius: 10px;
    margin-bottom: 30px;
}
#horarios > div {
    display: grid;
    grid-gap: 30px;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr) 30px;
    background: #EEE;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
}
#horarios > div input {
    margin-bottom: 0px;
    background-color: #EEE;
    border: 1px solid #EEE;
    border-bottom: 2px solid #CCC;
}
#horarios > div input:focus {    
    border-bottom: 2px solid var(--theme);
}
#horarios > div label {    
   color: #777;
   font-size: 13px;
}
#horarios > div img {
    filter: opacity(.3);
    cursor: pointer;
    height: 20px;
    margin-top: 25px;
}
#horarios > div img:hover {
    filter: opacity(.7);
}
[type="color"] {
    width: 50px;
    height: 50px;
    padding: 0;
    border: 0;
}
.modalidade-lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 40px;
    grid-gap: 30px;
}
.modalidade-lista input {
    margin-bottom: 0;
}
.timer {
    background-color: #FFF !important;
    border: 1px solid #CCC !important;
    color: #777 !important;
}
.cad-search form {
    width: 100%;
}
.gap-aside {
    padding: 12px;
    cursor: pointer;
}
.link_menu-tab-box {
    border-bottom: 1px solid #DDD;
}
.link_menu-tab {
    display: inline-block;
    padding: 17px;
    border: 1px solid #DDD;
    border-bottom: none;
    margin: 0 3px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    color: #777;
}
.link_menu-tab:hover {
    background-color: var(--theme);
    color: #FFF;
}
@keyframes anim-1 {
	0%, 8% { left: -20%; opacity: 0; }
    8%,25% { left: 25%; opacity: 1; }
    33%, 100% { left: 50%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33% { left: -20%; opacity: 0; }
    41%, 58% { left: 25%; opacity: 1; }
    66%, 100% { left: 50%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66% { left: -20%; opacity: 0; }
    74%, 91% { left: 25%; opacity: 1; }
    100% { left: 50%; opacity: 0; }
}
label img {
    cursor: pointer;
}
.header_reserva {
    margin-bottom: 25px;
    padding-bottom: 25px;
    grid-template-columns: repeat(3, 1fr);
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    grid-gap: 0px;
}
.header_reserva span {
    display: flex;
    border-bottom: 2px solid #DDD;
    align-items: center;
    height: 50px;
}
#ocupado_quadra,
#reserva_quadra {
    font-weight: bold;
    font-size: 18px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px;
}
#ocupado_modalidade i,
#reserva_modalidade i {
    background: var(--theme);
    color: #FFF;
    border-radius: 20px;
    padding: 7px 12px;
    font-size: 10px;
}
#ocupado_horario,
#reserva_horario {
    background-image: url('../ico/time.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-size: 16px;
}
.grid-historico {
    display: grid;
    grid-template-columns: repeat(6, 1fr) 36px;
    grid-gap: 20px;
    text-align: left;
}
.grid-historico label {
    color: #777;
    font-size: 10px;
}
.baixar {
    cursor: pointer;
}
.ico-trash {
    display: block;
    height: 16px;
    cursor: pointer;
    filter: opacity(.5);
}
.ico-trash:hover {
    filter: opacity(.7);
}

.btn__sucesso_quadra {
    margin-top: 20px;
}
.ativa {
    background: var(--theme) !important;
    color: #FFF !important;
}
.ativa small {
    color: #FFF !important;
}
.ativa svg {
    fill: #FFF !important;
    filter: invert(100%) grayscale(1) contrast(10);
}
.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}
.balanco {
    margin-bottom: 30px;
}
.balanco div {
    display: block;
    padding: 20px;
    text-align: center;
    color: var(--theme);
    background-color: #DDD;
    border-radius: 10px;
}
.balanco  div b{
    display: block;
    font-weight: lighter;
}
.balanco  div strong{}
.balanco div:nth-child(4) strong {
    color: #C00 !important;
}
.balanco div:nth-child(5) strong {
    color: #050 !important;
}
#confirmar_delete:checked ~ .confirmar_delete {
    display: grid;
}
.confirmar_delete {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.confirmar_delete > div {
    display: block;
    text-align: center;
    background: #FFF;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    max-width: 90vw;
}
.confirmar_delete > div > div {
    display: grid;
    grid-template-columns: repeat( 2, 1fr ) !important;
}
.confirmar_delete label {
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid var(--theme);
    padding: 12px;
    color: var(--theme);
    border-radius: 5px;
}
.confirmar_delete label:nth-child(2) {
    background: var(--theme);
    color: #FFF;
}
.btn_novo_contratante {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    background-color: var(--theme);
    border-radius: 50px;
}
.grid-os {
    grid-gap: 30px;
}
.grid-os table {
    width: 100%;
}
.grid-localizar-contratante {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 50px;
}